.general-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  row-gap: 20px;
}
.prev-btn{
  margin: 5px;
}
.book-details-container {
    display: flex;

}
  
  .book-thumbnail img {
    width: 150px;
    height: auto;
    border-radius: 4px;
  }
  
  .book-details {
    padding: 10px;
  }
  
  .book-title {
    font-size: 1.5rem;
    margin: 0;
    color: #333;
  }
  
  .book-authors {
    margin: 5px 0;
    color: #777;
  }
  
  .book-publisher,
  .book-published-date {
    color: #555;
    margin: 5px 0;
  }
  
  .book-description {
    font-size: 14px;
    line-height: 1.5;
    color: #444;
  }
  
  .book-price {
    margin-top: 10px;
  }
  
  .book-price p {
    margin: 0;
    color: #007bff;
    font-weight: bold;
  }
  
  .book-buy-link {
    display: inline-block;
    margin-top: 5px;
    text-decoration: none;
    color: #007bff;
  }
  
  .book-buy-link:hover {
    text-decoration: underline;
  }
  
  .book-link {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
  }
  
  .book-link:hover {
    text-decoration: underline;
  }